body {
  font-family: rival-sans, sans-serif;
  font-style: normal;
  font-weight: 200;
  background: linear-gradient(180deg, #2c3e50 0%, #12141a 100%);
  background-attachment: fixed;
  color: #333;
  line-height: 1.6;
  position: relative;
}

.rain {
  position: fixed;  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("file:///Users/cindyzhou/Desktop/6dbfc1568d5e6ef6e94537105e917651ef2461c33d3d5e-ZlGRDM.png"); /* transparent PNG */
  background-repeat: repeat; 
  background-size: cover;   
  animation: rainMove 2s linear infinite; 
  pointer-events: none; 
  opacity: 0.1;  
  z-index: 1;
}

@keyframes rainMove {
  from { background-position: 0 0; }
  to { background-position: 0 1000px; }
}

.site-header,
.container {
  position: relative;
  z-index: 2; 
}

.site-header {
  text-align: center;
  padding: 1rem;
}

h1 {
  font-size: 6.8rem;
  color: #e8f6fb;
  letter-spacing: 1px;
  text-shadow: 2px 2px 8px rgba(0, 94, 255, 0.6);
  margin: 0.5rem 0;
}

.spotify-link {
  margin-top: 1rem;        
  max-width: 800px;      
  margin-left: auto;
  margin-right: auto;
}

.button:hover {
  background: #17a444;
  transform: scale(1.005);
}

.container {
  max-width: 800px;
  margin: 4rem auto;
  padding: 1rem;
  opacity: 0.6;
  padding: 2rem 2rem;
  background: rgba(245, 251, 255, 0.85);
  border-radius: 24px;
  text-align: center;
}

.container p {
  margin: 0.4rem 0;
}

h2 {
  color: #5384a6;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 2rem 0 1rem; 
  text-align: center;
  padding: 0.5rem 0;
}

footer{
    color:rgba(0, 94, 255, 0.6);
    margin: 1rem ; 
}